<div class="container">
    <div class="text-center">
        <mat-form-field class="example-full-width mt-3">
            <mat-label>Search Patient</mat-label>
            <input matInput placeholder="Search" value="">
        </mat-form-field>
        <span class="material-icons">search</span>
    </div>
    <div class="row">
        <div class="col-12 col-md-3 my-3" *ngFor="let patient of userData">
            <mat-card>
                <mat-card-header>
                    <div mat-card-avatar>
                        <span class="material-icons">
                            account_circle
                        </span>
                    </div>
                    <div class="text-white">
                        <a [routerLink]="['/patient', patient.id]">
                            Paciente:<br> {{ patient.name }} {{ patient.lastName }}
                        </a>
                    </div>
                </mat-card-header>
                <hr>
                <mat-card-content class="text-justify">
                    <div>Especialty: {{ patient.consultation }}</div>
                    <hr>
                    <div>Appointment status: {{ patient.status }} </div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>